.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 5px;
}

.inputWrapper {
    width: 372px
}

.superInput {
    width: 372px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 5px;

}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid red;

}

.errorInput:focus {
    width: 372px;
    height: 36px;
    left: 70px;
    top: 341px;
    border: 1px solid red;
}

.error {
    color: red;

}
