.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    background: red;


}

.header h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
}