.buttonsContainer {
    display: flex;
    width: 550px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 50px;
}

.responseContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageContainer {
    margin-left: 50px;
    width: 600px;
}

.image {
    width: 500px;
    height: 500px;
}

.textContainer{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.code {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.info {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}