.App {
    /*--header_height: 60px;*/
}

.hw {
    margin-left: 50px;
    width: 1300px;
    height: 500px;
    top: 131px;
}

.hwTitle {
    margin-left: 50px;
    height: 70px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;


}
