.loader {
    /*свг и/или анимация*/
    margin-left: 30px;
    width: 70px;
    height: 70px;
    background-image: url(loader/loader.gif) ;
    background-position: center;
    background-size: cover

}